@import '@fontsource/azeret-mono/400.css';
@import '@fontsource/azeret-mono/700.css';
@import '@fontsource/azeret-mono/900.css';
@import '@fontsource/manrope/300.css';
@import '@fontsource/manrope/400.css';
@import '@fontsource/manrope/500.css';
@import '@fontsource/manrope/700.css';
@import '@fontsource/jetbrains-mono/400.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-mono;
  }
}

.dark {
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0A0A0A;
}

::-webkit-scrollbar-thumb {
  background: #27272A;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3F3F46;
}